*.root
*.hepmc
*.output
*.input
*.smod
*.mod
*.o
*json
*tcl
*makefile
*f90
*log
*FCCAnalyses
*__pycache__
*.lo
*sin
*csv
*pdf

Analysis/plots/
Analysis/stage1/
Samples/
Tagging/
GenScripts/Generator/
Analysis/dataset/
